<!DOCTYPE html>
<html lang="en">

<head>
    <title>Proyecto Diseño de bases de datos II</title>
    <meta charset="UTF-8" name="description" />
    <link rel="stylesheet" href="{{url_for('static', filename='mainpage.css')}}">
</head>

<body>
    <div class="MainBorder">
        <div class="MainPage">

            <!-- header -->
            <header class="MyHeader">
                <h1>Operación realizada con éxito</h1>
                <!-- <div class="MyNav" /> -->
            </header>

            <section>
                <div class="BorderArticle">
                    <form action="/emp/" method="get" enctype="multipart/form-data">
                        <button name="ret_bttn" type="submit">regresar a empleados</button>
                    </form>
                </div>
            </section>

            <!-- pie de pagina -->
            <footer class="MyFooter">
                Giovanny Alfonso Chávez Ceniceros - Diseño de bases de datos II - Octubre 2020
            </footer>


        </div>
    </div>
</body>

</html>